.new-entry-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  padding-left: 12%;
  padding-right: 12%;
  box-sizing: border-box;
}

/*2 PARTE*/
.seconda-parte {
  background: #f8eef4;
  border-radius: 20px;
  padding: 30px 20px;
  width: 90%;
  max-width: 320px;
  margin: 60px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow:
    0 10px 25px rgba(0, 0, 0, 0.08),
    0 2px 6px rgba(0, 0, 0, 0.05);
}

.card-importo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.toggle {
  width: 100%; /* oppure più grande */
  max-width: 350px;
  position: relative;
  display: flex;
  background-color: #ebdee4;
  border-radius: 20px;
  padding: 10px;
  height: 40px;
  overflow: hidden;
  transition: all 0.8s ease;
}

.toggle:hover {
  transform: scale(1.03);
  box-shadow:
    0 6px 14px rgba(102, 69, 91, 0.9),
    0 3px 8px rgba(0, 0, 0, 0.2);
}

.toggle-indicatore {
  position: absolute;
  top: 6px;
  left: 6px;
  width: calc(50% - 6px);
  height: calc(100% - 12px);
  background: linear-gradient(120deg, white, #fff, #f8eef4);
  border-radius: 16px;
  box-shadow:
    0 0 10px rgba(231, 191, 215, 0.8),
    0 2px 6px rgba(0, 0, 0, 0.15);
  transition: transform 0.35s cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 0;
}

.toggle-indicatore.destra {
  transform: translateX(100%);
}

.toggle-btn {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background: transparent;
  border-radius: 20px;
  font-size: 13px;
  color: #6b6b6b;
  cursor: pointer;
  z-index: 1;
}

.piu {
  width: 14px;
  height: 14px;
  margin-right: 4px;
}

.meno {
  width: 14px;
  height: 14px;
  margin-right: 4px;
}

.display-importo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 20px;
}

.euro {
  font-size: 40px;
  color: #66455b;
  margin-right: 6px;
}

.input-importo {
  border: none;
  background: transparent;
  font-size: 48px;
  font-weight: bold;
  color: #66455b;
  width: 140px;
  outline: none;
  text-align: left;
}

.input-importo::placeholder {
  color: #66455b;
  opacity: 1;
}

/* Rimuove frecce */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* 3 PARTE */
.terza-parte {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.metodi-di-pagamento-testo {
  font-size: 10px;
  margin-bottom: 10px;
  color: #906579;
  text-shadow:
    0 2px 6px rgba(231, 191, 215, 0.5),
    /* glow rosa più evidente */ 0 3px 6px rgba(0, 0, 0, 0.2); /* ombra nera morbida per contrasto */
  animation: bounceIn 0.8s ease-out forwards; /* rimbalzo leggero */
}

.bottoni-pagamenti {
  position: relative;
  display: flex;
  background-color: #ebdee4;
  border-radius: 10px;
  padding: 6px;
  height: 50px;
  overflow: hidden;
  transition: all 0.8s ease;
}

.bottoni-pagamenti:hover {
  transform: scale(1.03);
  box-shadow:
    0 6px 14px rgba(102, 69, 91, 0.9),
    0 3px 8px rgba(0, 0, 0, 0.2);
}

.indicatore {
  position: absolute;
  top: 6px;
  left: 6px;
  width: calc(50% - 6px);
  height: calc(100% - 12px);
  background: linear-gradient(120deg, white, #fff, #f8eef4);
  border-radius: 10px;
  box-shadow:
    0 0 10px rgba(231, 191, 215, 0.8),
    0 2px 6px rgba(0, 0, 0, 0.15);
  transition: transform 0.35s cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 0;
}

.indicatore.destra {
  transform: translateX(100%);
}

.metodo {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  border: none;
  background: transparent;
  border-radius: 20px;
  font-size: 13px;
  color: #6b6b6b;
  cursor: pointer;
  z-index: 1;
}

.metodo img {
  width: 16px;
  height: 16px;
}

/* 4 PARTE */
.quarta-parte {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 40px;
}

.descrizione {
  font-size: 10px;
  margin-bottom: 10px;
  color: #906579;
  text-shadow:
    0 2px 6px rgba(231, 191, 215, 0.5),
    /* glow rosa più evidente */ 0 3px 6px rgba(0, 0, 0, 0.2); /* ombra nera morbida per contrasto */
  animation: bounceIn 0.8s ease-out forwards; /* rimbalzo leggero */
  transition: all 0.3s ease;
}

.input-descrizione {
  border: none;
  background-color: white;
  font-size: 14px;
  outline: none;
  width: 100%;
  padding: 10px 15px;
  border-radius: 10px;
  height: 50px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
  transition: all 0.3s ease;
  position: relative;
  box-sizing: border-box;
  transition: all 0.8s ease;
}

.input-descrizione:hover {
  transform: scale(1.03);
  box-shadow:
    0 6px 14px rgba(102, 69, 91, 0.9),
    0 3px 8px rgba(0, 0, 0, 0.2);
}

.input-descrizione:focus {
  transform: scale(1.02); /* ingrandimento leggero */
  box-shadow:
    0 4px 12px rgba(231, 191, 215, 0.6),
    /* glow rosa */ 0 2px 6px rgba(0, 0, 0, 0.15); /* ombra standard */

  background: linear-gradient(120deg, #ffffff, #f8eef4, #ffffff);
  background-size: 200% 200%;
  animation: gradientShift 2s ease infinite;
}

@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.parte-data {
  margin-top: 30px;
}

.data {
  font-size: 10px;
  margin-bottom: 10px;
  color: #906579;
  text-shadow:
    0 2px 6px rgba(231, 191, 215, 0.5),
    /* glow rosa più evidente */ 0 3px 6px rgba(0, 0, 0, 0.2); /* ombra nera morbida per contrasto */
  animation: bounceIn 0.8s ease-out forwards; /* rimbalzo leggero */
  transition: all 0.3s ease;
}

.input-data {
  border: none;
  background-color: white;
  font-size: 14px;
  outline: none;
  width: 70%;
  padding: 10px 15px;
  border-radius: 10px;
  height: 40px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08); /* ombra leggera */
  transition: all 0.3s ease;
  position: relative;
  box-sizing: border-box;
  transition: all 0.8s ease;
}

.input-data:hover {
  transform: scale(1.03);
  box-shadow:
    0 6px 14px rgba(102, 69, 91, 0.9),
    0 3px 8px rgba(0, 0, 0, 0.2);
}

.input-data:focus {
  transform: scale(1.02);
  box-shadow:
    0 4px 12px rgba(231, 191, 215, 0.6),
    /* glow rosa */ 0 2px 6px rgba(0, 0, 0, 0.15); /* ombra standard */

  background: linear-gradient(120deg, #ffffff, #f8eef4, #ffffff);
  background-size: 200% 200%;
  animation: gradientShift 2s ease infinite;
}

/* 5 PARTE */
.quinta-parte {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 60px;
  margin-bottom: 100px;
}

.salva {
  background: linear-gradient(120deg, #66455b 0%, #a18497 50%, #836177 100%);
  border: none;
  width: 100%;
  border-radius: 12px;
  padding: 12px 30px;
  font-size: 14px;
  font-weight: 700;
  color: #ffffff;
  cursor: pointer;
  box-shadow:
    0 4px 12px rgba(102, 69, 91, 0.8),
    0 2px 6px rgba(0, 0, 0, 0.15);
  position: relative;
  overflow: hidden;
  transition: all 0.8s ease;
}

.salva:hover {
  transform: scale(1.03);
  box-shadow:
    0 6px 14px rgba(102, 69, 91, 0.9),
    0 3px 8px rgba(0, 0, 0, 0.2);
}

.salva::after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 0%;
  height: 100%;
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.4) 0%,
    rgba(255, 255, 255, 0.05) 60%,
    rgba(255, 255, 255, 0) 100%
  );
  transform: translateX(-50%);
  pointer-events: none;
  opacity: 0;
}

/* animazione al click */
.salva.clicked::after {
  opacity: 1;
  animation: flashMove 4s ease-out forwards;
}

.icona-salva {
  width: 10px;
  height: 10px;
  margin-right: 20px;
}

@keyframes flashMove {
  0% {
    width: 0%;
    opacity: 1;
  }
  40% {
    width: 300%;
    opacity: 1;
  }
  70% {
    width: 300%;
    opacity: 0.6;
  }
  100% {
    width: 0%;
    opacity: 0;
  }
}

/*x metodo di pagamento, descizione, data*/
@keyframes bounceIn {
  0% {
    opacity: 0;
    transform: translateY(-5px) scale(0.9);
  }
  60% {
    opacity: 1;
    transform: translateY(5px) scale(1);
  }
  80% {
    transform: translateY(-2px) scale(1);
  }
  100% {
    transform: translateY(0) scale(1);
  }
}
