* {
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100vw;
  overflow-x: hidden;
  font-family: "Manrope", sans-serif;
}

/*x dividere i due componenti*/
.main-content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #fff7f9;
}

@media (min-width: 1000px) {
  .main-content {
    flex-direction: row;
  }
}
